{%load bootstrap4 %}
{% load static %}
<nav id="n1" class="navbar navbar-expand-lg navbar-light bg-light">
  <a style="margin-right: 30px;" class="navbar-brand" href="/">Jirani</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'authorities'%}">security</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'blog'%}">Updates</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'businesses'%}">Businesses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'health'%}">Medics</a>
      </li>
     

      {% if user.is_superuser %}
      <li class="nav-item">
        <a class="nav-link" href="/admin">Admin</a>
      </li>
      {% endif %}

      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'my-profile'%}">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'update-profile' %}">Edit Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>

      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/accounts/login">Sign In</a>
      </li>
      {% endif %}
    </ul>

    <form style="margin-left: 50px;" class="form-inline my-2 my-lg-0" role="search" action="{% url 'search_results'%}">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="blog" >
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<style type="text/css">
#n1 {
  margin-bottom: 25px;
}


</style>

